---
- name: Download GPG key
  register: erlang_gpg_key_download
  ansible.builtin.get_url:
    url: "{{ erlang_gpg_key_url }}"
    dest: "{{ erlang_gpg_key_source_path }}"
    checksum: "sha256:{{ erlang_gpg_key_checksum }}"
    mode: '0644'
    force: true

- name: Check existing keyring
  ansible.builtin.stat:
    path: "{{ erlang_gpg_key_path }}"
  register: erlang_gpg_keyring

- name: De-Armor GPG key
  ansible.builtin.command:
    cmd: "gpg --dearmor --yes --output {{ erlang_gpg_key_path }} {{ erlang_gpg_key_source_path }}"
  when: erlang_gpg_key_download.changed or not erlang_gpg_keyring.stat.exists

- name: "Add repository to APT sources list"
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch={{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' }} signed-by={{ erlang_gpg_key_path }}]
      {{ item }}/rabbitmq-erlang/{{ ansible_distribution | lower }}/{{ ansible_distribution_release }}
      {{ ansible_distribution_release }} main
    state: present
  loop: "{{ erlang_repo_mirrors }}"
  loop_control:
    label: "{{ item }}"

- name: Install Erlang
  when: install_erlang | bool
  ansible.builtin.apt:
    pkg:
      - "{{ erlang_package_specs.get(ansible_distribution_release, erlang_package_specs.default) }}"
