---
- name: Create agent directory
  ansible.builtin.file:
    path: "{{ agent_root_dir }}"
    state: directory
    mode: '0755'
    owner: semaphore
    group: semaphore

- name: Download agent
  ansible.builtin.unarchive:
    src: "{{ agent_url }}"
    dest: "{{ agent_root_dir }}"
    mode: "0755"
    remote_src: true
    owner: semaphore
    group: semaphore

- name: Create hooks directory
  ansible.builtin.file:
    path: "{{ agent_hooks_dir }}"
    state: directory
    mode: '0755'
    owner: semaphore
    group: semaphore

- name: Copy shutdown hook
  ansible.builtin.copy:
    src: terminate-instance.sh
    dest: "{{ agent_hooks_dir }}/shutdown"
    mode: "0755"
    owner: semaphore
    group: semaphore

- name: Install agent
  environment:
    SEMAPHORE_AGENT_INSTALLATION_USER: "semaphore"
    SEMAPHORE_AGENT_SHUTDOWN_HOOK: "{{ agent_hooks_dir }}/shutdown"
    SEMAPHORE_TOOLBOX_VERSION: "{{ toolbox_version }}"
    SEMAPHORE_AGENT_START: "false"
    SEMAPHORE_REGISTRATION_TOKEN: "DUMMY"
    SEMAPHORE_ORGANIZATION: "DUMMY"
    SEMAPHORE_AGENT_SYSTEMD_RESTART_SEC: "{{ systemd_restart_seconds }}"
  register: agent_installation_result
  ansible.builtin.command: "{{ agent_root_dir }}/install.sh"

- debug: var=agent_installation_result

- name: Copy start script
  ansible.builtin.copy:
    src: start-agent.sh
    dest: "{{ agent_root_dir }}/start.sh"
    mode: "0755"
    owner: semaphore
    group: semaphore

- name: Copy health check script
  ansible.builtin.copy:
    src: health-check.sh
    dest: "{{ agent_root_dir }}/health-check.sh"
    mode: "0755"
    owner: semaphore
    group: semaphore

- name: Copy pre-signed URL generation script
  ansible.builtin.copy:
    src: gen-pre-signed-url.py
    dest: "{{ agent_root_dir }}/gen-pre-signed-url.py"
    mode: "0755"
    owner: semaphore
    group: semaphore
