---
- name: Install system tools
  ansible.builtin.apt:
    pkg:
      - apt-transport-https
      - apt-utils
      - ca-certificates
      - git
      - curl
      - software-properties-common
      - zip
      - unzip
      - jq
      - make
      - gnupg
      - tree
      - wget
    update_cache: true

- name: Install yq
  ansible.builtin.get_url:
    url: "{{ yq_url }}"
    dest: /usr/local/bin/yq
    mode: '0755'
    force: true

- name: Remove unattended-upgrades package
  ansible.builtin.apt:
    name: unattended-upgrades
    state: absent
    purge: true
  tags:
    - disable_unattended
